{% extends "base.html" %}

{% block content %}
		<p>{{ notice }}</p>
			<form method="POST">
				<fieldset>
				 <legend><strong><span>设置你的FuBeacon设备的推送消息</span></strong></legend><br />
				{{ form.hidden_tag() }}	
				设备ID<br/> 
				{{ form.dev_id}} 
				{{ form.cor_name.label }} {{form.cor_name(id='cor_name-field')}} 
				{{ form.message.label }} {{form.message(id='message-field')}} <br/> 
				类别
				{{ form.category }}<br/>
				距离
				{{ form.proxi_state }}
				<!--{{ form.category.label }} {{ form.category(id='category-field') }} -->
				<br/> 
				{{ form.submit(id='btn') }}
				</fieldset>
			</form>	
{% endblock %}
